/* ================================= 
  Base Element Styles
==================================== */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Questrial', sans-serif;
}

body {
	font: 16px;
	background: #384047;
	font-family: sans-serif;
}

header {
	text-align: center;
}

h1 {
	font-size: 2.5em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	margin: 0;
	color: rgb(187, 202, 223);
}

header span {
	color: rgb(187, 202, 223);
}

a {
	text-decoration: none;
}

.total {
	font-size: 18.72px;
	font-weight: bolder;
	color: #384047;
}


/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background: #fff;
	border: 2px solid #303233;
	box-shadow: 0 0 1em #222;
	border-radius: 5px;
	margin-bottom: 20px;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: bold;
	padding-top: .5em;
	border-top: 2px solid rgb(245, 247, 250);
	margin-bottom: 1.125em;
	color: #384047;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #333;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;
	background: #F5F5F5;
}

select {
	border: 1px solid #e5e5e5;
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #F5F5F5;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	outline: none;
}

input:focus {
	background: #fcfbfb;
	border: 1px solid #349ef5;
	-webkit-transition: border-color .4s, background-color .4s;
	-o-transition: border-color .4s, background-color .4s;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
	padding: .55em 1.25em;
	background: rgb(102, 110, 121);
	margin: 1.25em 0 .5em;
	cursor: pointer;
	border: 1px solid rgb(102, 110, 121);
	border-radius: 3px 3px 3px 3px;
	text-shadow: 0 1px 0 rgb(19, 20, 20);
	transition: all 0.5s;
}

button:hover {
	background: rgb(82, 88, 97);
}

input,
select,
option {
	font-family: 'roboto', sans-serif;
}

.text-input-error {
	border: 1px solid #df0000;
}

.error-msg {
	color: #ffffff;
	font-size: 0.8125em;
	max-height: 50px;
	padding: 0 0px 20px 0px;
	color: #999;
	transition: 0.28s;
	overflow: hidden;
	color: red;
	font-style: italic;
}

.disabled {
	color: #bbbbbb;
}

.disabled-btn {
	background: #797979;
	color: #d3d3d3;
}

.disabled-btn:hover {
	background: #797979;
}

input[type="submit"] {
	background: rgb(102, 110, 121);
	box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 2em;
	line-height: 1.6em;
	margin: 2em 0 0;
	outline: none;
	padding: .8em 0;
	text-shadow: 0 1px rgb(19, 20, 20);
}


/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}


/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col+.col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
	label {
		clear: both;
	}
}